@font-face {
    font-family: 'CursedTimerUlil-Aznm';
    src: url('Fonts/CursedTimerUlil-Aznm.ttf') format('truetype');
    font-weight: normal;
}   

html{
    background-color: #1B244A;
}

.titles {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content:space-around;
}

.home, .guest {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #EEEEEE;
}

.scores {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content:space-around;
}

#homescore-el, #guestscore-el {
    font-family: 'CursedTimerUlil-Aznm';
    font-size: 5.625rem;
    color: #F94F6D;
    background-color: #080001;
    border: 50px solid #080001;
    border-radius: 5px;
}