@font-face {
    font-family: 'CursedTimerUlil-Aznm';
    src: url('Fonts/CursedTimerUlil-Aznm.ttf') format('truetype');
    font-weight: normal;
}   

html{
    background-color: #1B244A;
}

body {
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home, .guest {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #EEEEEE;
}

#homescore-el, #guestscore-el {
    font-family: 'CursedTimerUlil-Aznm';
    font-size: 5.625rem;
    color: #F94F6D;
    background-color: #080001;
    border: 50px solid #080001;
    border-radius: 5px;
}

button {
    border: 2px solid #9AABD8;
    background-color: transparent;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    color: #9AABD8;
    font-family: 'CursedTimerUlil-Aznm';
    font-size: 1.125rem;
    padding: 1px;
    margin: 2px;
}

.image {
    display: flex;
    justify-content: center;
}

.ball {
    width: 100px;
    border-radius: 100px;
    background-color: transparent;
    animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0) scaleX(1.1) scaleY(0.9);
    }
    50% {
        transform: translateY(-200px) scale(1);
    }
}